//Profile config names for nf-core/configs


params {
  // Config Params
  config_profile_description = 'Roxys test config file for singularity'
  config_profile_contact = 'Roxy Zhang (xyz16@ic.ac.uk'
  config_profile_url = ' '
  //Resources
  max_memory = 640.GB
  max_cpus = 32
  max_time = 168.h
  // Analysis Resource Params
 
}
executor {
  name = 'pbspro'
  queueSize = 49
}

conda {
  cacheDir = '/rds/general/user/xyz16/home/anaconda3/envs'
}

singularity {
  enabled = true
  //autoMounts = true 
  //cacheDir  = "/rds/general/user/xyz16/home/singularity_images"
  //runOptions = "-B /rds/general/user/xyz16/home/1000G_EUR_Phase3_plink:/1000G_EUR_Phase3_plink,/rds/general/user/xyz16/home/hapmap3_snps:/hapmap3_snps"
}

process {
  beforeScript = "module load anaconda3/personal"
  maxForks = 40
  executor = 'pbspro'
  queue = 'pqmedbio-tput'
  //clusterOptions = "-l select=1:ncpus=1:mem=4gb"
  //time = '3h'
  withLabel: singularity {
  container = "/rds/general/user/xyz16/home/singularity_test.simg" 
  }
  withLabel: big {
  clusterOptions = "-l select=1:ncpus=18:mem=4gb"
  time = '4h'
  }
  withLabel: small {
  clusterOptions = "-l select=1:ncpus=1:mem=4gb"
  time = '4h'
  }
  withLabel: big_mem {
  clusterOptions = "-l select=1:ncpus=4:mem=64gb"
  time = '4h'
  }
}

workDir: "/rds/general/user/xyz16/home"